<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>비밀번호 보호된 페이지</title>
  </head>
  <body>
    <div id="content" style="display:none;">
      {{ content }}
    </div>
    <div id="passwordPrompt">
      이 페이지는 비밀번호로 보호되어 있습니다: <input type="password" id="passwordInput"
      ><button onclick="checkPassword()">입력</button>
    </div>
    <script>
      function checkPassword() {
        var password = document.getElementById('passwordInput').value;
        if (password == 1122) {
          document.getElementById('content').style.display = 'block';
          document.getElementById('passwordPrompt').style.display = 'none';
        } else {
          alert('잘못된 비밀번호입니다!');
        }
      }
    </script>
  </body>
</html>
